.header {
    display: flex;
    flex-direction: row;
    padding: 1.5rem;
    background-color: rgb(14, 15, 26);
    justify-content: end;
    align-items: center;
    height: 9vh;
}

.navigation {
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
    list-style: none;
    font-size: 16px;
}